@{
    ViewData["Title"] = "About us Page";
}

<div class="text-center">
    <h1 class="display-4">About us</h1>
    <p>Mentor as a Service</p>
    <p>Doing ordinary things extraordinarily</p>
    <hr/>
    <ol>
        <li>Mentoring</li>
        <li>Consulting</li>
        <li>Teaching</li>
        <li>CDAC Acts Trainings</li>
        <li>Corporate Trainings</li>
        <li>Online Workshops</li>
        <li>Developer Boot Camps</li>
        
        
        
        
        
        
    </ol>

</div>
