@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contact us</h1>
    <p>Email: ravi.tambade@transflower.in</p>
    <p>Contact Number:9881735801</p>
    <p>601, Rama Apartment, Walvekar Nagar, Pune Satara  Road, Parvati, Pune 410009</p>
</div>
