@{
    ViewData["Title"] = "Details Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <p>Id:45 </p>
    <img src="/images/Transflower.jpg", height="100" width="1000"/>
    <p>Title:Gerbera</p>
    <p>Description:Wedding Flower</p>
    <p>Unit Price:5 Rs.</p>
    <p>Stocks Available:3000</p>
    <a href="">Add to Cart</a>
</div>
