@{
    ViewData["Title"] = "Catalog Page";
}

<div>
    <h1 class="display-4">Todays Fresh Flowers for sale...</h1>
    <br/>
    <a href="/products/insert">Insert new Flower in Catalog</a>
    <br/>
      <p><a href="">Gerbera</a></p>
      <p><a href="">Rose</a></p>
      <p><a href="">Lotus</a></p>
      <p><a href="">Jasmine</a></p>
      <p><a href="">Marigold/a></p>
      <p><a href="">Tulip</a></p>
      <p><a href="">Orchid</a></p>
      <p><a href="">Lily</a></p>

</div>
